
<div class="container-fluid">
          <div class="page-header">
               <h1 class="header text-center">Uber Analysis</h1>
               <hr />
          </div>
          <div class="well well-lg col-md-12">

               <div style="height: 70vh" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">

                    <ng-map lazy-init="true" zoom="11" center="40.7589, -73.9851" map-type-id="">
                         <heatmap-layer id="uber" data="peakData"></heatmap-layer>
                    </ng-map>

               </div>

          </div>
</div>



