
<div class="container-fluid">
     <div class="well well-lg col-md-3">
          <div style="height: 80vh">
               <h1 class="header text-center">Uber Analysis</h1>
               <hr />
          </div>

     </div>
	<div class="well well-lg col-md-9">

          <div style="height: 80vh" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">

               <ng-map lazy-init="true" zoom="11" center="40.7589, -73.9851" map-type-id="">
                    <heatmap-layer id="uber" data="peakData"></heatmap-layer>
               </ng-map>

          </div>

	</div>
</div>



